.perfil {
    background: rgba(33, 49, 63, 1);
    border-radius: 10px;
    width: 2200px;
    padding: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 20px;
}

.perfil .logo {
    width: 80px;
    height: auto;
    margin-bottom: 15px;
}

.perfil .input-containera {
    margin-bottom: 20px;
}

.perfil .input-containera input[type="submit"] {
    width: 300px;
    padding: 11px;
    border: none;
    background: #26425A;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    outline: none;
    margin-bottom: 1px;
}

.perfil .input-containera input[type="submit"]:hover {
    background: #3B597C;
    transition: 0.3s;
}
