/* Eperfil.css */
.formulario.Eperfil {
    background: linear-gradient(180deg, rgba(13, 30, 46, 0.8) 40%, rgba(38, 66, 90, 0.5) 100%);
    border-radius: 10px;
    width: 220px;
    padding: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 20px;
}


.Eperfil .input-container {
    position: relative;
    margin-bottom: 25px;
    width: 90%;
}

.Semen {
    position: relative ;
    top: 100px;
    left: 8000px;
}

.Eperfil .input-container input {
 
    width: 110%;
    padding: 9px;
    background: none;
    border: 2px solid rgba(153, 101, 151, 1);
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
    outline: none;
}
.Eperfil .input-container{
    position: relative;
    top: 20px;
    left: 10px;
}

.Eperfil .input-container label {
    position: absolute;
    top: 500px;
    left: 100px;
    color: #ffe3e3;
    transform: translateY(-50%);
    pointer-events: none;
    transition: all 0.3s ease;
}
.Eperfil .input-container input:focus ~ label,
.Eperfil .input-container input:not(:placeholder-shown) ~ label {
    top: -10px;
    left: 10px;
    font-size: 12px;
    color:rgba(225, 203, 215, 1) ;
}

.Eperfil .input-containera {
    margin-bottom: 10px; /* Ajusta esta distancia según sea necesario */
}

.Eperfil .Cambiar.Contraseña {
    margin-bottom: 10px; 
    
}
.Eperfil .Cambiar.Contraseña a {
    position: relative;
    top: 10px;
    left: 20px;
    color: rgba(225, 203, 215, 1);
    text-decoration: none; 
    
}
.Eperfil .input-containera input[type="submit"] {
    position: relative;
    top: 10px;
    left: 25px;
    height: 50px;
    width: 70%;
    background-color: rgba(153, 101, 151, 1); /* Cambia este valor al color que desees para el fondo */
    border-color: rgba(255, 168, 252, 1); /* Cambia este valor al color que desees para el borde */
    color: #E1CBD7; /* Cambia este valor al color que desees para el texto */
}



.image-volverp {
    
    position: relative; 
    bottom: 40px; 
    right: 50px; 
    width: 30px; /* Ajusta el tamaño según sea necesario */
    height: 30px; /* Ajusta el tamaño según sea necesario */
    border: none;
    background: url('botonvolverp.png') no-repeat center center;
    background-size: cover;
    cursor: pointer;
}






