body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #E1CBD7;
    font-size: 10px;
    background: #1E1E1E;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.formulario {
    background: linear-gradient(180deg, rgba(13, 30, 46, 1) 40%, rgba(38, 66, 90, 0.5) 100%);
    border-radius: 10px;
    width: 2200px; /* Este valor debe ajustarse */
    padding: 200px; /* Este valor debe ajustarse */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    width: 80px;
    height: auto;
    margin-bottom: 15px;
}

.formulario h1 {
    margin: 10px 0;
    color: #fff;
    font-size: 24px;
}

.formulario h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #E1CBD7;
    font-size: 19px;
    margin-bottom: 20px;
}

.input-container {
    position: relative;
    margin-bottom: 20px;
    width: 90%;
    top: 1vh;
    left: 17vh; /* Este valor debe ajustarse */
}

.input-container input {
    width: 300px; /* Este valor debe ajustarse */
    padding: 12px;
    background: none;
    border: 2px solid #cc39e2;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    outline: none;
}

.input-container label {
    display: block;
    margin-bottom: 10px;
    color: #ffe3e3;
    font-size: 14px;
    transition: all 0.3s ease;
}

.input-container input:focus ~ label,
.input-container input:not(:placeholder-shown) ~ label {
    font-size: 12px;
    color: #a84bcc;
}

.recordar {
    margin-bottom: 20px;
    color: #ffffff;
    cursor: pointer;
    font-size: 14px;
}

.recordar:hover {
    text-decoration: underline;
}

input[type="submit"] {
    width: 10%; /* Este valor debe ajustarse */
    padding: 12px;
    border: 1px solid;
    background: #6C3483;
    border-radius: 25px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover {
    border-color: rgb(237, 35, 237);
    transition: 0.5s;
}

.registrarse {
    margin-top: 10px;
    font-size: 14px;
    color: #E1CBD7;
}

.registrarse a {
    color: rgb(172, 23, 172);
    text-decoration: none;
}

.registrarse a:hover {
    text-decoration: underline;
}

/* Media Queries para responsividad */
@media (max-width: 1200px) {
    .formulario {
        width: 80%;
        padding: 50px;
    }

    .input-container {
        left: 0;
        width: 100%;
    }

    .input-container input {
        width: 100%;
    }

    input[type="submit"] {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .formulario {
        width: 90%;
        padding: 30px;
    }

    .formulario h1 {
        font-size: 20px;
    }

    .formulario h2 {
        font-size: 16px;
    }

    .input-container label, .input-container input {
        font-size: 12px;
    }

    .recordar, .registrarse {
        font-size: 12px;
    }

    input[type="submit"] {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .formulario {
        width: 95%;
        padding: 20px;
    }

    .formulario h1 {
        font-size: 18px;
    }

    .formulario h2 {
        font-size: 14px;
    }

    .input-container label, .input-container input {
        font-size: 10px;
    }

    .recordar, .registrarse {
        font-size: 10px;
    }

    input[type="submit"] {
        font-size: 12px;
    }
}

